* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #e5e5e5;
}
.languages {
    margin-right: 50px;
}
.lang {
    font-weight: bold;
}
.cv {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: white;
}
button {
    background-color: #d8724d;
    padding: 15px;
    width: 100px;
    border-radius: 2rem;
    border-color: #000000;
    margin-right: 30px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}
button:active {
    transform: scale(0.98);

    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.clicked {
    border: solid white;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1100px;
    justify-content: center;
    margin: 0 auto;
    background: rgb(51, 50, 50);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    color: white;
}
aside {
    width: 370px;
    background-color: #d8724d;
}
.cs-photo {
    margin: 40px 0 0 0;
    height: auto;
    border-radius: 4rem;
    border: solid;
    border-color: rgb(0, 0, 0);
}
.secondary {
    color: black;
}
.contact-links {
    color: black;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.bold {
    font-weight: 700;
}
.list-sec {
    color: #1f1c1c;
    font-size: 15px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
    font-weight: 400;
}
.list-sec-item {
    color: black;
    font-weight: bold;
}
.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}
.tech-block {
    margin-top: 47px;
    margin-left: 40px;
}
.skills-block {
    margin-top: 44px;
    margin-left: 40px;
    /* margin-bottom: 366px; */
}
.lang-block {
    margin-top: 47px;
    margin-left: 40px;
    margin-bottom: 150px;
}
main {
    padding: 102px 88px 102px 103px;
}
.main-desc {
    width: 400px;
}
.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}
.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fb6d3a;
    margin-bottom: 40px;
}
.projects {
    width: 485px;
    margin-bottom: 51px;
}
.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 0;
    list-style-position: inside;
}
.list-primary-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fb6d3a;
    text-decoration: none;
}
.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
    margin-top: 43px;
}
.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.highlight {
    color: #fb6d3a;
}
.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}
.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 0;
    list-style-position: inside;
}
.education {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
}
.managment {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.city {
    color: rgb(255, 254, 254);
    font-weight: 300;
}
